{% extends "tasks/master.html" %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-6 col-lg-12 col-xl-6">
            <section class="panel">
                <header class="panel-heading panel-heading-transparent">
                    <h2 class="panel-title">Ocorrências</h2>
                </header>
            </section>
            <div class="panel-body">
                 {% for Ocorrencia in ocorrencia %}
                    <div class="table-responsive">
                        <div class="col-md-12">
                            <div class="toggle" data-plugin-toggle>
                                <section class="toggle">
                                    <label>
                                        <div class="col-md-1">
                                            <b>ID:</b> {{Ocorrencia.id}}
                                        </div>
                                        <div class="col-md-8 col-lg-8 col-xl-8">
                                           {{ Ocorrencia.data_ocorrencia }}
                                           <p><b>Endereço:</b> {{Ocorrencia.endereco}} <b>CIDADE:</b> {{Ocorrencia.cidade}} <b>CEP</b>  {{Ocorrencia.cep}} </p>
                                        </div>
                                    </label>
                                    <div class="toggle-content">
                                        <div class="row show-grid">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <!-- Carrega as -->
                                                {% if Ocorrencia.image %}
                                                <a class="image-popup-no-margins img-responsive" href="/media/{{ Ocorrencia.image }}">
                                                    <img class="img-responsive" src="{{ MEDIA_URL }}{{ Ocorrencia.image.url }}" width="75">
                                                </a>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <div class="widget-summary-col">
                                                    <h5 class="title" ><b>NOME:</b> {{ Ocorrencia.nome }}</h5>
                                                    <h5 class="title"><b>CPF:</b> {{ Ocorrencia.cpf }}</h5>
                                                    <h5 class="title"><b>TEL:</b> {{ Ocorrencia.telefone }}</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <div class="widget-summary-col">
                                                    <h5 class="title"><b>MOTIVO:</b> <span class="label label-success"> {{Ocorrencia.tipo_ocorrencia}}</span></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                   </div>
                 {% endfor %}
             </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <span class="page-item">
                        {% if ocorrencia.has_previous %}
                            <a href="?page={{ ocorrencia.previous_page_number }}"><i class="fa fa-chevron-left"></i></a>
                        {% endif %}
                        <span class="page-link">
                            {{ ocorrencia.number }} de {{ ocorrencia.paginator.num_pages }}
                        </span>
                        {% if ocorrencia.has_next %}
                            <a href="?page={{ ocorrencia.next_page_number }}"><i class="fa fa-chevron-right"></i></a>
                        {% endif %}
                    </span>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Fim: Pagina -->
   {% endif%}
{% endblock %}